#contact {
    background: url(../assets/images/Background_Contacts.png) no-repeat center center/cover;

    justify-items: center;
    margin-block: 128px 200px;

    header  {
        text-align: center;
        margin-bottom: 48px;

        span {
            color: var(--purple);
        }

        h2 {
            margin-block: 8px;
        }

        p {
            font: var(--text-md2);
        }
    }

    a {
        color: inherit;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            font: 500 16px/140% var(--font-maven);
        }
    }

    .link {
        background-color: var(--gray-300);
        width: 400px;
        border-radius: 8px;
        border: 1.5px solid transparent;
        
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        gap: 12px;
        
        .social {
            display: flex;
            align-items: center;
            gap: 12px;
        }

    }
    
    a:hover {
        .link {
            border-radius: 8px;
            border: 1.5px solid var(--blue);
        }
    }
}