#intro {
    background: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    margin-inline: auto;
    
    #info {
        margin-top: 120px;

        .avatar {
            margin-bottom: 56px;
        }

        span {
            span {
                color: var(--red);
            }
        }
        
        h1 {
            margin-block: 8px 20px;
        }
        
        p {
            font: var(--text-sm2);
            color: var(--gray-400);
        }
        
        .avatar img {
            border: 2px solid var(--red);
            border-radius: 50%;
            padding: 4px;
        }

        .tags {
            font: var(--text-md2);
            margin-top: 80px;
            display: flex;
            justify-content: center;
            gap: 16px;

            span {
                font: var(--text-md2);
            }
        }
        
        .tag {
            background-color: var(--gray-300);
            border-radius: 999px;
            padding: 8px 16px;

            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .caretdown {
        margin-block: 94px 57px;
        }
}