#services {
    background-color: var(--gray-100);
    padding-block: 88px 120px;
    justify-items: center;

    header {
        justify-items: center;
        margin-bottom: 56px;
        
        span {
            color: var(--red);
        }

        h2 {
            margin-top: 8px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 280px);
        gap: 24px;
    }

    .card {
        border: 2px solid var(--gray-200);
        border-radius: 12px;
        padding: 20px;

        img {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 8px;
        }
    }
}